name: unit tests
on: [push]

jobs:
  test:
    strategy:
      matrix:
        PROJECT_NAME: [crudx]

    name: Crudx Jest Tests
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: Build the Docker image
        run: docker compose up -d

      - name: Check running containers
        run: docker ps

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node_version: 20.17.0
          registry-url: https://registry.npmjs.org/
      
      - name: Install Dependencies
        run: |
          npm install -g yarn
          yarn install --frozen-lockfile
        shell: bash


      - name: Run unit tests
        run: docker compose exec -it 2am-nestkit /bin/sh test-all.sh

      - name: Check coverage if files exists
        run: (ls ./coverage/packages/${{ matrix.PROJECT_NAME }}/clover.xml && echo yes) || echo no

      - name: Upload coverage reports to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage/packages/${{ matrix.PROJECT_NAME }}/clover.xml
